#patient-container{
    margin-left: 10px;
    margin-top: 10px;
}

#view-exercise-container{
    margin-left: 20px;
    margin-top: 10px;
}

#create-exercise-form{
    margin-left: 20px;
    margin-top: 10px;
}

